* {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  background-image: url("../images/background.png");
  background-position: center;
  background-size: cover;
  color: #fff;
  min-height: 100vh;
}

.navbar {
  align-items: center;
  display: flex;
  height: 104px;
  justify-content: space-between;
  width: 95%;
}

.nav-head {
  left: 15%;
  position: relative;
}

.nav-text-icons {
  display: flex;
  gap: 50px;
  justify-content: center;
  left: 21%;
  position: relative;
}

a {
  color: #fff;
  text-decoration: none;
}

.nav-text {
  display: flex;
  font-size: 15px;
  font-weight: 500;
  gap: 25px;
  justify-content: center;
}

.nav-icons {
  cursor: pointer;
  display: flex;
  font-size: 15px;
  gap: 20px;
}

#header .fa-solid {
  color: #f9f9f9;
  font-size: larger;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 30%;
  width: 85%;
}

.heading-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.heading-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: center;
}

button {
  align-items: center;
  color: #fff;
  display: flex;
  padding: 10px 36px;
}

.get {
  background: #ffa62b;
  border: 1px solid #ffa62b;
  border-radius: 37px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.2px;
  padding: 10px 36px;
  width: 189px;
}

.more {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 37px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.2px;
  padding: 10px 36px;
  width: 158px;
}

h1 {
  color: #fff;
  font-size: 58px;
  font-weight: 800;
  letter-spacing: 0.2px;
  line-height: 80px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 57px;
}

h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 30px;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 24px;
}

h6 {
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 24px;
}

#feature-3 {
  background-color: #252b42;
  height: 813px;
  width: 100%;
}

#team {
  background-color: #252b42;
  height: 800px;
  width: 100%;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px 0;
  justify-content: center;
}

.content {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 45px 0;
  text-align: center;
  width: 100%;
}

.box-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: -50px auto;
  width: 80%;
}

div .box {
  background-color: #fff;
  color: #252b42;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  padding: 30px 40px;
  width: 300px;
}

.vector {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.fa-brands {
  color: #00a0c1;
  cursor: pointer;
  font-size: 30px;
}

.para1 {
  color: #737373;
  font-weight: 500;
}

p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 20px;
}

.content p {
  font-size: 15px;
  font-weight: 400;
  width: 100%;
}

#feature-11 {
  background-color: #252b42;
  height: 816px;
  width: 100%;
}

.content1 {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  margin-bottom: 80px;
  text-align: center;
}

.head-one {
  display: flex;
  justify-content: center;
  width: 70%;
}

.expert {
  background-color: #2880373b;
  display: flex;
  justify-content: center;
}

.meeting img {
  bottom: 28%;
  position: relative;
}

#testimonials {
  align-items: center;
  background-color: #252b42;
  display: flex;
  justify-content: center;
}

.main1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.card-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.card {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  padding: 30px 35px;
  width: 280px;
}

.card-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}

.sub-card {
  align-items: center;
  display: flex;
  gap: 15px;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.para2 {
  color: #ffa62b;
  font-weight: 500;
}

.main2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 0;
  justify-content: center;
}

.image-row {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 55%;
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

figcaption {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 150px;
  justify-content: center;
  width: 100%;
}

.medias {
  display: flex;
  font-size: 25px;
  gap: 15px;
  justify-content: center;
  margin: 10px auto;
}

#format {
  background-image: url("../images/background1.png");
  background-position: center;
  background-size: cover;
  height: 800px;
}

.format-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.input1,
.input2 {
  display: flex;
  gap: 20px;
}

input {
  background-color: #f9f9f9;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  color: #bdbdbd;
  font-size: 14px;
  height: 50px;
  padding: 0 20px;
  width: 286px;
}

select {
  background-color: #f9f9f9;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  padding: 0 20px;
  width: 328px;
}

textarea {
  background-color: #f9f9f9;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  color: #bdbdbd;
  font-weight: 600;
  height: 140px;
  padding: 20px 30px;
}

.book {
  background: #ffa62b;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  height: 58px;
  letter-spacing: 0.2px;
  line-height: 28px;
  padding: 15px 40px;
  width: 218px;
  position: relative;
}

.sub-container {
  align-items: center;
  display: flex;
  height: 142px;
  justify-content: space-around;
}

.para3 {
  color: #737373;
  font-weight: 500;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.us {
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin: 40px auto;
  padding: 15px 40px;
  width: 160px;
  height: 58px;
  background: #ffa62b;
  border-radius: 5px;
}

.footer1 {
  background: #252b42;
  display: flex;
  justify-content: center;
  height: 142px;
}

.foot-content1 {
  align-items: center;
  border-bottom: 1px solid #364067;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.footer2 {
  align-items: center;
  background: #252b42;
  color: #fff;
  display: flex;
  height: 310px;
  justify-content: center;
}

.socialicons {
  display: flex;
  gap: 20px;
  margin-right: 50px;
}

.socialicons img {
  cursor: pointer;
  height: 26px;
  width: 26px;
}

.foot-content2 {
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.col-content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 10px;
}

.special {
  display: flex;
  gap: 50px;
}

.para4 {
  color: #bdbdbd;
  font-weight: 500;
  line-height: 25px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input3 {
  font-size: 14px;
  font-weight: 400;
  height: 58px;
  letter-spacing: 0.2px;
  line-height: 28px;
  width: 321px;
}

.btn-input {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.subs-btn {
  background-color: #ffa62b;
  border: 1px solid #ffa62b;
  border-radius: 0 5px 5px 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 200;
  height: 58px;
  justify-content: center;
  letter-spacing: 0.2px;
  line-height: 28px;
  margin-top: 1.3px;
  position: relative;
  right: 24.5%;
  width: 117px;
}

.footer3 {
  background-color: #16697a;
  color: #fff;
  display: flex;
  height: 74px;
}

.foot-content3 {
  align-items: center;
  display: flex;
  margin: auto;
  width: 80%;
}

@media screen and (min-width: 768px) {
  #header {
    height: 780px;
  }

  .heading {
    max-width: 539px;
  }

  .heading-button {
    display: grid;
    grid-template-columns: auto auto;
  }

  .heading h2 {
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
  }

  nav {
    padding-top: 20px;
    gap: 7vw;
  }

  .nav2 {
    gap: 10vw;
  }

  .nav2 p {
    display: contents;
  }

  .subnav {
    gap: 4vw;
    display: flex;
  }

  .navtext {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 5vw;
    padding-top: 10px;
  }

  .navtext p {
    font-weight: 600;
    font-size: 14px;
  }

  .apart {
    margin-right: 10px;
  }

  .fa-bars {
    margin: 0;
  }

  #task {
    min-height: 750px;
  }

  #expert .content2 {
    width: 462px;
  }

  .content {
    max-width: 470px;
  }

  .content-x {
    max-width: 470px;
    padding: 0;
  }

  .boxes {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .boxe3 {
    width: 29vw;
  }

  .box {
    width: 19vw;
    height: 150px;
  }

  .box p {
    max-width: 245px;
  }

  .main-2 {
    margin: 0 auto;
  }

  #testimonials {
    height: 590px;
  }

  #team {
    min-height: 73vh;
  }

  .input {
    display: flex;
    gap: 20px;
  }

  .bars,
  #bars-a,
  #bars-b {
    width: 258px;
  }

  #bars2 {
    width: 555px;
  }

  .bizarre {
    gap: 20px;
    height: 400px;
    margin: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: fit-content;
    margin: 0 0 0 10vw;
  }

  form .us {
    margin: 0;
  }

  #format {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sub {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin: auto;
    justify-content: space-between;
    height: 142px;
  }

  .text-3 {
    width: fit-content;
  }

  /* .part-20 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
    width: 90%;
  } */

  .bars1 {
    margin: 10px 0;
  }

  .part-2 {
    height: 400px;
  }

  .part31 {
    width: 50%;
    margin: auto auto auto 0;
  }
}
